.card-deck{
  width: 100%;
  padding-top: 20px;
  padding-left: 25px;
  display: flex;
  justify-content: center;
}

.add-job{
  float: right;
  margin-top: 20px;
  margin-right: 30px;
  background-color: #343a40 !important;
}