
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


html {
  height: 100%;
  background-color: #8539B0;
  /* For WebKit (Safari, Chrome, etc) */
  background: #8539B0 -webkit-gradient(linear, left top, left bottom, from(#FB1D1F), to(#8539B0)) no-repeat;
  /* Mozilla,Firefox/Gecko */
  background: #8539B0 -moz-linear-gradient(top, #FB1D1F, #8539B0) no-repeat;
  /* IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FB1D1F, endColorstr=#8539B0) no-repeat;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FB1D1F, endColorstr=#8539B0)" no-repeat;
}

#root {
  height: 100%;
}

body {
  height: 100%;
  background-color: transparent !important;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}